<!DOCTYPE html>
<html>
  <head>
    <title>Strammtisch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--
      bulma notifications 
    <!-- -->
    <div class="notification is-info">
      <button class="delete"></button>
      <%= notice %>
    </div>
    
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= alert %>
    </div>
   
    <%= yield %>
  </body>
</html>
